<br><br>
<div class="row center">
  <h1 class="slate-text">Caddy Connect</h1>
</div>
<div class="row center">
  <a href="/search" class="btn-large waves-effect waves-light secondary-colour">Search</a>
</div>
<div class="row center">
  <a href="/sign-up" class="btn-large waves-effect waves-light secondary-colour">Sign Up</a>
</div>
<br><br>
