<br><br>
<div class="row">
  <div class="search-wrapper card focused">
    <div class="col s8">
      <input placeholder="Course Name or Location" id="geo-search">
    </div>
    <div class="col s4">
      <button class="btn waves-effect waves-light secondary-color" id="geo-search-button">Search</button>
    </div>
  </div>
</div>
<div class="row">
  <div class="search-map">
  </div>
</div>
<div class="row">
  <div class="search-results">
  </div>
</div>
<br><br>
<script type="text/javascript" src="/js/searchmap.js"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3&key=AIzaSyAQTrHTm_ozJmAg_u0_g1laGtHsRP2UUnc&callback=initMap&libraries=places"></script>
