<br><br>
<div class="row">
  <form class="col s12" action="/user" method="post">
    <div class="row">
      <div class="input-field col s12">
        <input placeholder="Optional" id="home-course" type="text" class="validate" name="home-course">
        <label for="home-course">Home Course</label>
      </div>
    </div>
    <div class="row">
      <div class="center-align">
        <button class="btn waves-effect waves-light secondary-color" type="submit" name="action">
          Submit
        </button>
      </div>
    </div>
  </form>
</div>
