// basic color palette definition
// https://coolors.co/201c1b-332a26-e0ceaa-87b38d-ad455f
// https://coolors.co/ad455f-567582-464d5c-f7dda4-b89068

/* first iteration color palette
$darkBgPrimary: #567582;
$darkBgSecondary: #464D5C;
$lightBgPrimary: #B89068;
$highlightPrimary: #CAD178;
$highlightSecondary: #AD455F;

$lightTextPrimary: #F7DDA4;
$lightTextSecondary: #CBB587;
$lightTextTertiary: #9E8D69;
$lightTextError: #D88777;

$darkTextPrimary: #2D323B;
$darkTextSecondary: #3A404C;
$darkTextTertiary: #464D5C;
*/

// second iteration color palette
/*
$bgPrimary: #FFF;
$bgSecondary: #EEE;
$bgTertiary: #AAA;

$textPrimary: #333;
$textSecondary: #666;
$textTertiary: #999;
$textError: #D88777;

$highlightPrimary: #C68933;
$highlightSecondary: #AD455F;
*/

// second iteration color palette
/*
$bgPrimary: #FFF;
$bgSecondary: #EEE;
$bgTertiary: #AAA;

$textPrimary: #333;
$textSecondary: #666;
$textTertiary: #999;
$textError: #D88777;

$highlightPrimary: #C68933;
$highlightSecondary: #AD455F;
*/

// second iteration color palette
$bgPrimary: #1C1C1D;
$bgSecondary: #575C63;
$bgTertiary: #453F3C;

$textPrimary: #FCFDFD;
$textSecondary: #A2B1B9;
$textTertiary: #28739A;
$textError: #D88777;

$highlightPrimary: #0296D6;
$highlightSecondary: #69ABCD;
