@import 'colors';

body {
  background-color: $bgPrimary;
  color: $textPrimary;
}

/*
.panel {
  background-color: $bgPrimary;
  text-align: center;
  min-height: 64px;
  margin: 8px;
  padding: 16px;
}
*/
