* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

body {
  width: 800px;
  margin-left: 0 auto;
  text-align: center;
}

#question {
  padding: 8px;
  border-width: 1px;
  border-style: solid;
  margin: 10px;
  border-radius: 4px;
  width: 300px;
}

#question-button {
  width: 100px;
  height: 100px;
}

#question-button:hover {
  opacity: 0.6;
}

#shamrock-title {
  color: green;
}
